* {
				padding: 0px;
				margin: 0px;
				box-sizing: border-box;
}

body {
				min-height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				background:  hsl(212, 45%, 89%);
}

.card-body {
				width: 350px;
				padding: 20px;
				background: white;
				text-align: center;
				border-radius: 12px;
				margin-bottom: 20px;
}

.card-image img { 
				width: 100%;
				border-radius: 15px;
				margin-bottom: 25px;
}

.card-content {
				line-height: 1.2;
				
}

h2 {
				color: hsl(218, 44%, 22%);
				margin-bottom: 0px;
}

p {
				color:  hsl(220, 15%, 55%);
				margin-bottom: 10px;
				padding: 13px;
				font-size: 15px;
}

